.Rproj.user
.Rhistory
.RData
.Ruserdata
.bash_history
.local
.config
tertiary_analysis/input/scnanoseq_blaze_data/*
tertiary_analysis/input/BLAZE_published_data/*
tertiary_analysis/input/CellRanger_10X_data/*
tertiary_analysis/input/scnanoseq_10X_data/*
tertiary_analysis/input/OLD/*
tertiary_analysis/input/references/*.gtf
output_*
*.SeuratData